body {
	margin: 0;
	padding: 0;
	background: rgb(20,20,20);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1;
	position: fixed;
	left:25%;
	
}
h1 {
	color: white;
	z-index:+1;
	position:fixed;
	top: 50%;
	text-align:center;
	letter-spacing:10%;
	left: 45%
}
